<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Encontre a corretora que você merece</title>

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
</head>

<body>
    <section id="hero-main">
        <div class="container">
            <h1>Encontre a corretora que você merece</h1>
            <p>Nós te ajudamos a economizar</p>
            <div id="main-search">
                <div>
                    <div class="search-input">
                        <!-- Seu e-mail: -->
                        <input type="email" placeholder="Seu e-mail" />
                    </div>
                    <div class="search-input">
                        <!-- Ordens por mês: -->
                        <input type="number" placeholder="Ordens por mês" />
                    </div>
                    <div class="search-input">
                        <!-- Sua corretora atual: -->
                        <select>
                            <option>
                                Nenhuma
                            </option>
                            <option>
                                Ágora
                            </option>
                            <option>
                                XP
                            </option>
                            <option>
                                BTG Pactual Digital
                            </option>
                        </select>
                    </div>
                    <div class="search-button">
                        <input type="submit" value="Buscar" />
                    </div>
                    </form>
                </div>
            </div>
    </section>
</body>

</html>